body {
  background: #fff; }

#QueEs {
  display: grid;
  margin: 5% 10%; }
  #QueEs img {
    justify-self: end;
    width: 40%; }
  #QueEs div {
    display: block; }
    #QueEs div h4 {
      color: #99a728;
      width: 300px; }
    #QueEs div h2 {
      color: #99a728;
      width: 300px;
      float: left; }
    #QueEs div img {
      filter: opacity(0.5) drop-shadow(0 0 0 #99a728);
      float: left;
      width: 4%;
      transform: translateY(-20px); }
  #QueEs p {
    clear: both;
    display: block;
    width: 20vw;
    height: auto;
    border-radius: 0 0 0 100px;
    text-align: right; }

#TiposPlastico {
  color: #faa121;
  width: 90%;
  margin: auto;
  /*ol {
      counter-reset: item;
      li {
          clear: both;
        counter-increment: item;
        &::before {
          content: counter(item) '.';
          font-weight: 500;
          font-size: 280%;
          float: left;
        }
      }
    }   */ }
  #TiposPlastico #nombres h2 {
    margin-left: 2%; }
  #TiposPlastico img {
    width: 50%;
    display: block;
    margin: auto;
    transform: translateY(90px); }
  #TiposPlastico article {
    margin-left: auto;
    width: 30%;
    border-radius: 0 0 100px 0; }

#Impacto {
  background: #ffe7cb;
  padding: 5%;
  position: relative; }
  #Impacto .TituloImpacto {
    margin-left: 10%; }
    #Impacto .TituloImpacto h2 {
      color: #027368;
      float: left; }
    #Impacto .TituloImpacto img {
      filter: opacity(0.5) drop-shadow(0 0 0 #027368);
      width: 3%;
      clear: both; }
  #Impacto p {
    width: 70%; }
  #Impacto .contenido-Impacto {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center; }
    #Impacto .contenido-Impacto .ADerecha {
      justify-self: end;
      text-align: right; }
    #Impacto .contenido-Impacto .textImg {
      position: relative; }
      #Impacto .contenido-Impacto .textImg h4 {
        position: absolute;
        bottom: 10px;
        left: 20%;
        color: #fff;
        font-weight: 700;
        background-color: rgba(12, 88, 107, 0.6); }
    #Impacto .contenido-Impacto img {
      width: 250px; }

#Cadena {
  color: white;
  background: #51b9c8; }
  #Cadena p {
    width: 400px; }
  #Cadena #marino {
    padding: 1% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 90vh; }
    #Cadena #marino h5 {
      grid-row: 2/3;
      justify-self: center;
      align-self: center; }
    #Cadena #marino .ballenaT {
      text-align: right;
      justify-self: end;
      align-self: end; }
    #Cadena #marino .ballenaI img {
      width: 45%; }
    #Cadena #marino .ave {
      grid-row: 1/2;
      grid-column: 3/4;
      align-self: end; }
      #Cadena #marino .ave p {
        float: left;
        text-align: right; }
      #Cadena #marino .ave img {
        clear: both;
        width: 15%; }
    #Cadena #marino .caballo {
      grid-row: 2/3;
      grid-column: 2/3;
      align-self: center;
      justify-self: center;
      text-align: center; }
      #Cadena #marino .caballo img {
        float: left;
        width: 7%; }
    #Cadena #marino .plancton {
      grid-row: 3/4;
      grid-column: 2/3;
      align-self: center; }
      #Cadena #marino .plancton img {
        float: left;
        width: 20%;
        display: block; }
      #Cadena #marino .plancton p {
        text-align: center; }
    #Cadena #marino .ostra {
      grid-row: 3/4;
      grid-column: 3/4; }
      #Cadena #marino .ostra img {
        width: 14%; }

#Comida {
  background: #31251b; }
  #Comida .comidas {
    text-align: center;
    padding: 10%;
    color: #fff; }

#Graficas {
  padding: 5% 10%;
  color: #02628c; }
  #Graficas .tituloGrafica h5 {
    font-weight: 700; }
  #Graficas .tituloGrafica h2 {
    float: left; }
  #Graficas .tituloGrafica img {
    filter: invert(1);
    width: 5%;
    clear: both;
    margin-left: 5%;
    transform: translateY(-60px); }
  #Graficas .imgCentro {
    align-self: center;
    text-align: center; }
  #Graficas article {
    display: block;
    width: 60%;
    float: left;
    text-align: right;
    margin: 5%; }
    #Graficas article h5 {
      text-transform: uppercase;
      width: 70%;
      margin-left: auto; }
    #Graficas article p {
      padding: 0; }
  #Graficas .turtle {
    position: relative;
    display: block;
    float: none; }
    #Graficas .turtle img {
      position: absolute;
      top: -50px;
      width: 17%; }

#Alternativas {
  color: #017369;
  background-color: #ffe7cb; }
  #Alternativas h2 {
    margin-left: 10%; }

#Ayudar {
  color: #fff;
  background-color: #bece30;
  padding: 5% 10%; }
  #Ayudar .proponer {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(3, 138px);
    gap: 10px; }
    #Ayudar .proponer img {
      width: 100%;
      transition: 1s; }
    #Ayudar .proponer p {
      padding: 0;
      line-height: 120%;
      opacity: 0;
      transition: 1s; }
    #Ayudar .proponer #bolsa2, #Ayudar .proponer #bolsa, #Ayudar .proponer #basura, #Ayudar .proponer #solo1, #Ayudar .proponer #cepillo, #Ayudar .proponer #bambu {
      background-color: #000; }
    #Ayudar .proponer div {
      position: relative; }
      #Ayudar .proponer div p {
        position: absolute;
        bottom: 10%; }
      #Ayudar .proponer div:hover p {
        opacity: 1;
        transition: .5s; }
      #Ayudar .proponer div:hover img {
        opacity: .3;
        transition: .5s; }

#degradacion {
  color: #707a1b;
  background-color: #bece30;
  padding: 5% 10%; }
  #degradacion .video {
    display: block;
    border: 1px solid red;
    border-radius: 0 100px 0 100px;
    width: 720px;
    height: auto;
    overflow: hidden;
    margin: auto; }

.clear {
  clear: both; }

.scroll {
  overflow-x: scroll;
  scroll-behavior: smooth; }

.col2 {
  display: grid;
  grid-template-columns: 100vw 100vw; }

.col3 {
  display: grid;
  grid-template-columns: 100vw 200vw 100vw;
  grid-template-rows: 100vh; }

.orilla {
  height: 100vh;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  transform: translateX(55vw);
  overflow: hidden; }
  .orilla .waves {
    transform: rotate(90deg); }

.waves {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px; }
  .waves use {
    fill: rgba(255, 231, 203, 0.4); }
  .waves use:nth-child(4) {
    fill: #ffe7cb; }

.content {
  position: relative;
  height: 20vh;
  text-align: center; }

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite; }

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s; }

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s; }

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s; }

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s; }

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0); }
  100% {
    transform: translate3d(85px, 0, 0); } }
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px; }

  .content {
    height: 30vh; }

  h1 {
    font-size: 24px; } }

/*# sourceMappingURL=Organizar.css.map */
