$AzulTitulo: #027368;
$AzulFondo: #51b9c8;
$FondoImpacto: #ffe7cb;
$FondoComida: #3c423d;

#Impacto{
    
    //width: 80%;
    background: $FondoImpacto;
    //padding: 2%;
    position: relative;
    
    
    .TituloImpacto{
        margin-top: 6%;
        margin-bottom: 1%;
        
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: left;
        align-items: baseline;
        position: relative;
        h2{
            color: $AzulTitulo;
            padding: 1%;
            font-size: 600%;

            @media (min-width: 768px) {
                font-size: 300%;
            }
            @media (min-width: 1000px) {
                font-size: 600%;
            }
            
        }
        img{
            
            height: 9em;
            margin-left: 5em;
            transform: translateY(1em);
            @media (min-width: 768px) {
                height: 4em;
            }
            @media (min-width: 1000px) {
                height: 9em;
            }
        }
        
    }
    p{
        width: 70%;
    }
    .contenido-Impacto{
        
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 1fr 1fr 1fr;
        width: 50%;
        height: 60%;
        margin: auto;
        @media (min-width: 768px) {
            //height: 30%;
        }

        p{
        flex-basis: 40%;
        align-self: center;
        //font-size: 150%;
        }
        #polucion, #suelo, #oceano{
            display: flex;
            margin: 1%;
            
            
        }
        #suelo{justify-content: center;
        p{
            text-align: right;
        }
        }
        #oceano{justify-content: flex-end;}

        .textImg_Izq{
            border-radius: 10em 0 0 0;
            -webkit-mask-image:-webkit-gradient(linear, 80% center, right center, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
            mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
            
        }
        .textImg_Der{
            border-radius: 0 10em 0 0;
            -webkit-mask-image:-webkit-gradient(linear, 20% center, left center, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
            mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        }

        .textImg_Izq, .textImg_Der{
            
            position: relative;
            overflow: hidden;
            width: 25em;
            h4{
                position: absolute;
                bottom: 0;
                padding: 1%;
                font-size: 320%;
                color: #fff;
                font-weight: 500;
                background-color: rgba(12, 88, 107, .6);
                width: 100%;
                text-align: center;
            }
        
        }
        img{
            width: 100%;
            position: absolute;
            bottom:0;
        }
    }
    
}
#Cadena{
    width: 200vw;
    color: white;
    background: $AzulFondo;
    background: rgb(87,202,218);
    background: linear-gradient(90deg, rgba(87,202,218,1) 0%, rgba(64,166,212,1) 85%, rgba(60,66,61,1) 100%);
    p{
        width: 50%;
    }
    #tortuga{
        position: absolute;
        top:15%;
        left: 5%;
    }
    #micro{
        position: absolute;
        bottom: 20%;
        left: 15%;
        height: 15em;
    }
    #delfin{
        position: absolute;
        height: 30%;
        width: 13%;
        top:50%;
        left: 5%;
    }
    #marino{
        padding: 1% 10%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        
        height: 90vh;
        h5{
            grid-row: 2/3;
            justify-self: center;
            align-self: center;
        }
        .ballenaT{
            text-align: right;
            justify-self: end;
            align-self: center;
            
            p{
                margin: 0;
                text-align: right;
                margin-left: auto;
            }
        }
        .ballenaI{
            height: 100%;
            padding: 0;
            canvas{
                margin: 0;
                padding: 0;
                height: 100%;
            }
            
        }
        .ave{
            grid-row: 1/2;
            grid-column: 3/4;
            
            position: relative;
            height: 100%;
            align-self: end;
            justify-self: end;
            p{
                
                float: left;
                text-align: right;
            }
            canvas{
                
                height: 100%;
                width: 30%;
                
            }
            img{
                clear: both;
                width: 15%;
            }
        }
        .caballo{
            //grid-row: 2/3;
            //grid-column: 2/3;
            align-self: center;
            justify-self: center;
            text-align: center;
            height: 100%;
            p{
                
                width: 50%;
            }
            canvas{
                float: left;
                height: 100%;
                width: 30%;
            }
            
        }
        .plancton{
            grid-row: 3/4;
            grid-column: 2/3;
            align-self: center;
            
            img{
                float: left;
                width: 20%;;
                display: block;
            }
            p{
                text-align: center;
            }
            
        }
        .ostra{
            grid-row: 3/4;
            grid-column: 3/4;
            
            canvas{
                height: 70%;
                
            }
        }
    }
    
}
#Comida{
    overflow-y: hidden;
    background: $FondoComida;
    .comidas{
        text-align: center;
        padding: 5vh 10%;
        color: #fff;
        
        .arriba{
            max-height: 30vh;
        }
    }
    
}

#sec_2{
    display: none;
}

.animation{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.paper-plane{
    height: 100px;
    position: absolute;
    top: 50%;
    left: 0;
}

#tortuga3d{
    width: 20vw;
    height: 20vh;
    background: black;
}