$verdeQueEs: #bece30;
$verdeOscuro: #9aa626;
$naranja: #e0901e;
$azulImpacto: #03c5c4;
$azulOscuro: #017369;
$azulClaro: #a7c8f3;
$naranjaClaro: #ffd8a1;
$naranjaOscuro: #a76205;
$fondo: $verdeOscuro;
$borde: $verdeQueEs;


#redondo{
    //margin-top: 3%;
    //margin: 25% 0em;
    transform: translateX(20px);
    position: fixed;
    z-index: 20;
    li{
        
        display: flex;
        flex-direction: column;
        width: 80px;
        height: 80px;
        border: solid 6px $borde;
        border-radius: 90px;
        //overflow: hidden;
        margin: 3vh 0;
        color: rgba($color: #fff, $alpha: 0.0);
        background-color: $fondo;
        
        transition: 0.3s;
        
        img{
            width: 80px;
            border-radius: 90px;
            //height: 90px;
            margin: auto 6px auto auto;
            //filter: sepia(100%) hue-rotate(340deg) saturate(4);
            //transform: translateY(10px) translateX(10px);
            transition: 0.5s;
        }
        &:hover{
            transition-timing-function: ease-out;
            transition: all 0.3s ease 0s;
            width: 300px;
            transform: translateX(-160px);
            img{
                transition-timing-function: ease-out;
                transition: .3s;
                transform: rotateZ(-20deg);   
                //filter: grayscale(0);
            }
            
        }
    } 
}

.clear{
    clear: both;
}
/*
scroll-container {
    display: block;
    width: 100vw;
    height: 100vh;
    //overflow-y: hidden;
    overflow-x: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }*/